### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


# javafx-demo/
javafx-demo/mavenfx/target/
javafx-demo/mavenfx/target/*
javafx-demo/pmavenfx.iml
javafx-demo/.idea
javafx-demo/.idea/*

# javafx-demo/HelloFx/
javafx-demo/HelloFx/out
javafx-demo/HelloFx/.idea